@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.449);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
  }
  
  li a:hover:not(.active) {
    background-color: #620a00;
  }
  
  .active {
    background-color: #c71400;
  }




  h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 90px;
    text-align: center;
    color: white;
}

p {
    font-family: 'Raleway', sans-serif;
}


  /* FOOTER */ 

  .footer {
    position: relative;
    padding: 10px;
    background-color: hsl(0, 0%, 100%);
    color: white;
    text-align: center;
  }

  .footer p {
    color: black;
  }


.LogoImg {
    text-align: center;
}

.LogoImg img {
    width: 60%;
    opacity: 30%;
    filter: blur(3px);
    z-index: -1;
    overflow: hidden;
}

.text p {
    position: absolute;
    top: 30%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 2.5vh;
    text-align: justify;
    color: white;
}